.person .card {
  border: none;
  text-align: center;
}

.person .card-header {
  background-color: white;
  border-bottom: none;
}

.person .card-img,
.person .card-img-top,
.person .card-img-bottom {
  border-radius: 100px;
}

.person .card-body {
  padding: 5px;
}

.person .card-text {
  font-size: 15px;
}

.person .card-title {
  font-size: 15px;
  margin-bottom: none;
}
