.select{
    background-color:#5fd58a;

}

.booked{
    background-color:#f27878;

}
h1.seattitle{
  
    font-size: 80px;
    font-family: 'Bookman', serif;
    text-align: center;
    text-shadow: hotpink;
    color:limegreen;
}
p.screen{
    text-align: center;
    font-size: 30px;
}

